{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
            <p><a href="{{ $.Site.Params.homeSubtitleURL }}" target="_blank">{{ $.Site.Params.homeSubtitle }}</a></p>
            {{- end }}

        </div>
    </main>
{{ end }}
