<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
{{ if not .IsHome }}
    <div id="home-center">
        <center><h1 id="home-title">{{ .Site.Title }}</h1></center>

        {{- with .Site.Params.homeSubtitle }}
            <!-- <p id="home-subtitle">{{.}}</p> -->
            <p id="home-subtitle"><a href="{{ $.Site.Params.homeSubtitleURL }}" target="_blank">{{ $.Site.Params.homeSubtitle }}</a></p>
        {{- end }}
    </div>
{{ end }}
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
